<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
        Toggle extra text
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->



<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 px-0">
        <mat-toolbar color="primary">
          <button mat-icon-button class="bg-none"  aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
        </mat-toolbar>
      </div>
    </div>
  </div>

<!-- <app-toolbar></app-toolbar> -->
<app-top-adv></app-top-adv>
<app-sections></app-sections>
<app-locations-component></app-locations-component>

end